.App {
}

.main-day {
    background-color: aliceblue;
    display: block;
    width: 500px;
    text-align: center;
}

.icon {
    margin: 0 auto;
    font-size: 40px;
    color: rgb(45, 45, 175);
}

.week-list {
    list-style: none;
}